@charset "UTF-8";

h2 {
	margin-top: -4vh;
	padding-bottom: 20px;
}

.bg #ha{
	padding-left: 400px;
	padding-right: 400px;
}

.bg {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(168, 166, 168, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(168, 166, 168, 1);
	box-shadow: 0px 0px 3px 0px rgba(168, 166, 168, 1);
}